---
layout: default
---

<div class="post">
  <h1>🏷️ Posts tagged with "{{ page.tag }}"</h1>
  <ul class="post-list">
    {% assign tagname = page.tag %}
    {% for post in site.posts %}
      {% if post.tags contains tagname %}
        <li>
          <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
          {% if post.description %}
            <br><span style="font-size: 0.9rem; color: #666;">{{ post.description }}</span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="/blog/">← Back to Blog</a>
</div>
